# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml
out
gen

/GitHub/
/.vscode/
/CI-CD/Jenkins/data/
/Gateway/Nginx/logs/
