# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml
out
gen

GitHub/
.vscode/

Gateway/Nginx/logs/

MQ/Kafka/compose/kafka-logs/

*chart-data/
data/
db/
*.log
*.tar.gz
*.tgz
