# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

awesome-compose/
kafka-stack-docker-compose/
docker-compose-lamp/
example-voting-app/
